:host {
  display: inline-block;
  width: 100%;
}

.header {

  max-width: 100% !important;
  width: 100% !important;

  min-height: 50px;
  margin-bottom: 32px;


  font-family: VAR(--primary-font) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  letter-spacing: 0.727273px !important;

  .title {
    padding-left: 8px;
    min-height: 50px;
    vertical-align: center;
    line-height: 36px;
    font-size: 20px;
    color: VAR(--color-primary-darker)
  }

  .button-bar {
    padding-right: 8px;
    min-height: 50px;
    text-align: right;
    vertical-align: center;

    button {
      margin: 0 0 8px 4px;
      min-width: 32px;

      text-align: center !important;
      font-size: 12px;

      .mat-button-wrapper {
        text-align: center !important;
      }
    }

    button.action-separator {
      margin: 0 -15px 8px -10px;
    }
  }

  div.info-card, div.content-box {
    display: inline-block;
    width: 100%;
  }
}
