<div class="header">
  <div fxLayout="row" *ngIf="structure.hideHeader === true">
    <div class="title" fxFlex="none">{{structure.style.title}}</div>
    <div class="button-bar" fxFlex="grow">

      <ng-container *ngIf="structure.headerActions != undefined && structure.headerActions.length >0">
        <ng-container *ngFor="let action of structure.headerActions">
          <ng-container *ngIf="action.display() === true">
            <button mat-raised-button color="primary" (click)="action.callback()">{{action.name}}</button>
          </ng-container>
        </ng-container>
        <button class="action-separator" mat-button disabled>|</button>
      </ng-container>
      <ng-container *ngIf="hasFilters">
        <button mat-raised-button color="primary" (click)="resetFilters()">
          <mat-icon>block</mat-icon>
        </button>
      </ng-container>
      <button mat-raised-button color="primary" (click)="reloadTable()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <div class="mat-elevation-z{{structure.style.elevation}} content-box" (resized)="onResized($event)">

    <mat-multi-sort-table-settings style="display: none;" [tableData]="table"></mat-multi-sort-table-settings>
    <form [formGroup]="form" (ngSubmit)="onApplyFilter()">


      <ng-scrollbar visibility="hover" appearance="compact" [autoHeightDisabled]="false" track="horizontal">
        <mat-table [dataSource]="table.dataSource" matMultiSort (matSortChange)="table.onSortEvent()">

          <ng-container *ngFor="let column of structure.columns" [matColumnDef]="column.id">

            <ng-container *ngIf="column.sortable else NO_SORT">
              <mat-header-cell [style.width]="columnWidth(column)" fxFlex="none" *matHeaderCellDef
                               [mat-multi-sort-header]="column.id">
                {{column.name}}
              </mat-header-cell>
            </ng-container>

            <ng-template #NO_SORT>
              <mat-header-cell [style.width]="columnWidth(column)" fxFlex="none" *matHeaderCellDef>
                {{column.name}}
              </mat-header-cell>
            </ng-template>

            <mat-cell [style.width]="columnWidth(column)" fxFlex="none" fxFlexAlign="center" fxLayout="row" *matCellDef="let row"
                      [ngSwitch]="columnType(column)"
                      [class.center-cell]="column.center">
              <ng-container *ngSwitchCase="'PLAIN'">
                <ng-modular-plain-column fxFlex="100" [row]="row" [column]="column"></ng-modular-plain-column>
              </ng-container>

              <ng-container *ngSwitchCase="'LIST'">
                <ng-modular-list-column fxFlex="100" [row]="row" [column]="column"></ng-modular-list-column>
              </ng-container>

              <ng-container *ngSwitchCase="'ACTION'">
                <ng-modular-actions-column fxFlex="100" [row]="row" [column]="column">
                </ng-modular-actions-column>
              </ng-container>
            </mat-cell>
          </ng-container>

          <ng-container *ngFor="let column of structure.columns" [matColumnDef]="column.filter.filterId"
                        [ngSwitch]="filterType(column.filter)">
            <mat-header-cell [style.width]="columnWidth(column)" fxFlex="none"
                             *matHeaderCellDef>

              <ng-modular-type-filter fxFlex="100" *ngSwitchCase="'TYPE'" [filter]="column.filter" [form]="form"
                                      (applyFilter)="onApplyFilter()"></ng-modular-type-filter>

              <ng-modular-select-filter fxFlex="100" *ngSwitchCase="'SELECT'" [filter]="column.filter" [form]="form"
                                        (applyFilter)="onApplyFilter()"></ng-modular-select-filter>

              <ng-modular-async-select-filter fxFlex="100" *ngSwitchCase="'ASYNC_SELECT'" [filter]="column.filter"
                                              [form]="form"
                                              (applyFilter)="onApplyFilter()"></ng-modular-async-select-filter>

              <ng-modular-date-filter fxFlex="100" *ngSwitchCase="'DATE'" [filter]="column.filter" [form]="form"
                                      (applyFilter)="onApplyFilter()"></ng-modular-date-filter>


              <div fxFill *ngSwitchCase="'NONE'"></div>

            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayed"></mat-header-row>

          <ng-container *ngIf="hasFilters">
            <mat-header-row *matHeaderRowDef="filtersColumns"></mat-header-row>
          </ng-container>

          <mat-row *matRowDef="let row; columns: displayed;"></mat-row>


        </mat-table>
      </ng-scrollbar>
    </form>

    <div *ngIf="error === null && table.totalElements === 0 && firstLoad" class="empty-table">

      <ng-container *ngIf="structure.style.emptyArt === undefined">

        <div class="empty-table-image-box">
          <mat-icon class="icon-display gray-icon">table_view</mat-icon>
        </div>

        <div class="empty-table-text">Nothing here. Just chilling.</div>

      </ng-container>

      <ng-container *ngIf="structure.style.emptyArt !== undefined">

        <div class="empty-table-image-box">
          <ng-container *ngIf="structure.style.emptyArt.artType === ART_TYPE.MAT_ICON">
            <mat-icon class="icon-display gray-icon">{{structure.style.emptyArt.art}}</mat-icon>
          </ng-container>
          <ng-container *ngIf="structure.style.emptyArt.artType === ART_TYPE.IMAGE">
            <img class="empty-table-image" [src]="structure.style.emptyArt.art" alt="empty table">
          </ng-container>
        </div>

        <div class="empty-table-text">{{structure.style.emptyArt.text}}</div>

      </ng-container>

    </div>

    <div *ngIf="error !== null && !loading" class="empty-table">

      <ng-container *ngIf="structure.style.errorArt === undefined">

        <div class="empty-table-image-box">
          <mat-icon class="icon-display" color="warn">error</mat-icon>
        </div>

        <div class="empty-table-text error">{{error}} <a (click)="reloadTable()"> Retry!</a></div>

      </ng-container>

      <ng-container *ngIf="structure.style.errorArt !== undefined">

        <div class="empty-table-image-box">
          <ng-container *ngIf="structure.style.errorArt.artType === ART_TYPE.MAT_ICON">
            <mat-icon class="icon-display" color="warn">{{structure.style.errorArt.art}}</mat-icon>
          </ng-container>
          <ng-container *ngIf="structure.style.errorArt.artType === ART_TYPE.IMAGE">
            <img class="empty-table-image" [src]="structure.style.errorArt.art" alt="error">
          </ng-container>
        </div>

        <div class="empty-table-text error">{{error}} <a (click)="reloadTable()"> Retry!</a></div>

      </ng-container>
    </div>


    <div *ngIf="loading" [style.height]="loadingWidth" class="loading-table">
      <div fxFill class="loading-table-box">
        <ng-container *ngIf="structure.style.loadingAnimation != undefined else SPINNER">
          <ng-lottie [options]="{path: structure.style.loadingAnimation}" [width]="loadingWidth"
                     [height]="loadingHeight"></ng-lottie>

        </ng-container>
        <ng-template #SPINNER>
          <div class="spinner-box">
            <div class="spinner-row">
              <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
            </div>
          </div>
        </ng-template>
      </div>
    </div>


    <mat-paginator [pageSize]="table.pageSize" [pageIndex]="table.pageIndex" [pageSizeOptions]="table.pageSizeOptions"
                   [length]="table.totalElements ? table.totalElements : 0" (page)="table.onPaginationEvent($event)">
    </mat-paginator>

  </div>
</div>
