.loading-box {
  width: 100%;
  height: 200px;
  text-align: center;
  display: table;
}

.loading-box > ng-lottie {
  display: table-cell;
  vertical-align: middle;
}


.spinner-row {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}



.empty-image {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  object-fit: contain;
  padding-top: 32px;
  padding-bottom: 32px;
}

.empty-image-box {
  height: 180px;
}

.empty {
  background-color: white;
}

.empty-text {
  text-align: center;
  font-size: 18px;
  color: darkgray;
}
