
.info-box {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 6px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid VAR(--color-primary-darker);

  &.value{
    height: 48px!important;
  }

  &.text{
    min-height: 48px;
    height: auto!important;
  }
}

.info-value {
  color: dimgray;
  padding-left: 16px;
  padding-right: 16px;

  &.value{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: end;
    line-height: 48px!important;
    max-height: 48px!important;
  }

  &.text{
    vertical-align: middle;
    text-align: start;
    margin-top: 56px;
    line-height: 28px!important;
    min-height: 48px!important;
    height: auto!important;
  }
}

.info-title {
  color: VAR(--color-primary-darker);
  padding-left: 4px;
  padding-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: start;
  line-height: 48px;
  max-height: 48px;
}
