<div class="info-box" fxLayout="row">
  <div class="info-title" [ngClass]="type === FieldType.VALUE ? ' value' : ' text'" fxFlex="40">{{title}}</div>
  <div class="info-value" [ngClass]="type === FieldType.VALUE ? ' value' : ' text'" fxFlex="60">{{value}}</div>
</div>
