.info-box {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 6px 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #F5F5F5;


  &.value {
    height: 48px !important;
    min-height: 48px!important;
  }

  &.text {
    min-height: 48px !important;
    height: auto !important;
  }
}

.info-value {
  color: dimgray;
  padding-left: 16px;
  padding-right: 16px;

  vertical-align: middle;
  text-align: start;

  &.value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 48px;
    max-height: 48px!important;
    min-height: 48px!important;
  }

  &.text {
    line-height: 28px!important;
    min-height: 48px!important;
  }
}

.info-title {
  color: VAR(--color-primary-darker);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: start;
  line-height: 20px;
  max-height: 20px;
}
