.error-box {
  background-color: #fead704f;
  min-height: 60px;

  padding: 8px 16px;
  align-items: center;
  justify-content: flex-start;

  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 16px;

  .text-box {
    line-height: 20px;
    text-align: start;
    color: #db5e00ab;
    font-weight: 600;
    font-size: 18px;
  }

  .icon-box {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
      color: rgba(219, 94, 0, 0.67);
      fill: rgba(219, 94, 0, 0.67);
      font-size: 30px;
      margin-right: 12px;
    }
  }


}
